<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Кредитный калькулятор</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<body>
<div class="container">
  <div class="jumbotron mt-3">
    <h1>Расчет процентной ставки с учетом страховки</h1>
    <p class="lead">Позволяет проверить параметры кредитного предложения: рассчитать эффективную ставку процента с учетом страхования, узнать сумму страхования, в случае если она скрыта в условиях кредитования, а также рассчитать сумму переплаты.</p>
    <a class="btn btn-lg btn-primary" href="/insurance/" role="button">Перейти к расчету &raquo;</a>
  </div>
<div class="container">
  <div class="jumbotron mt-3">
    <h1>Расчет эффективности рефинансирвоания</h1>
    <p class="lead">Позволяет рассчитать выгоду или убыток от рефинансирования.</p>
    <a class="btn btn-lg btn-primary" href="/refinance/" role="button">Перейти к расчету &raquo;</a>
    </div>
</div>
</body>
</html>