<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Заголовки в тексте</title>
 </head>
 <body>
  <nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <button class="btn btn-outline-success" type="button">Рассчитать ежемесячный платеж</button>
    <button class="btn btn-outline-success" type="button">Рассчитать срок платежа</button>
    <button class="btn btn-outline-success" type="button">Рассчитать процент с учетом страхования</button>
  </form>
</nav>
<!-- Раздел 1 -->
<div class="portfolio">
     <h1 class="text-center">Рассчет процента с учетом страхования</h1>
 <div class="container">
  <div class="row">
   <div class="col-lg-5 col-md-5 col-sm-12">
    <span class="text-justify">Введите сумму кредита:</span> <input type="text" size="20">
   </div>
   <div class="col-lg-5 col-md-5 col-sm-12">
    <span class="text-justify">Срок кредита (в месяцах):</span>
   </div>
 <div class="col-lg-5 col-md-5 col-sm-12">
    <span class="text-justify">Введи сумму страховки:</span> <input type="text" size="20">
   </div>
   <div class="col-lg-5 col-md-5 col-sm-12">
    <span class="text-justify">Ежемесячный платеж: </span>
   </div>
  <div class="col-lg-5 col-md-5 col-sm-12">
    <span class="text-justify">Введите годовую ставку:</span> <input type="text" size="10">
   </div>
   <div class="col-lg-5 col-md-5 col-sm-12">
    <span class="text-justify">Переплата: </span>
   </div>
  <div class="col-lg-5 col-md-5 col-sm-12">
    <span class="text-justify">Введите срок кредита (в месяцах):</span> <input type="text" size="10">
   </div>
   <button class="btn btn-outline-secondary btn-lg">Рассчитать</button>
    </body>
</html>